includeConfig "$baseDir/parameters/filterFastq.config"
includeConfig "$baseDir/fastqToBam.config"
includeConfig "$baseDir/parameters/runFastqc.config"
includeConfig "$baseDir/parameters/runAlignment.config"

process.container = '$baseDir/containers/'
singularity.cacheDir = "$baseDir/singularity/"

/*
singularity {
  //envWhitelist = 'SINGULARITY_TMPDIR'
    runOptions = "--bind \${SINGULARITY_TMPDIR}:$SCRATCH/tmpFiles/"
}
*/

profiles {
  standard {
     process {
        containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        executor = "local"
        memory = '0.6G'
        cpus = '1'
        time = '6h'

        withLabel: 'twocpus' {
            memory = '0.6G'
            cpus = '1'
        }
      }
   }
   cluster {
     process {
        //containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        executor = "slurm"
        queue = "cm2_inter"

        memory = '16G'
        //cpus='4'
        time = '1h'

        withLabel: 'sixteenCpus' {
            queue = "cm2_inter"
            memory = '2G'
            cpus = '16'
        }
        withLabel: 'oneCpu' {
            queue = "cm2_inter"
            memory = '2G'
            cpus = '1'
        }
      }
   }

   cloud {
    workDir = 's3://class-bucket-XXX/work'
    aws.region = 'eu-central-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    
   process {
       containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
       executor = 'awsbatch'
       queue = 'spot'
       memory='1G'
       cpus='1'
       time='6h'

       withLabel: 'twocpus' {
           memory='0.6G'
           cpus='2'
       }
    }
  }


}


