params {
	
	
	useFiltTool           = "Trimmomatic"

	//sickle filter parameters

	qualType	  = "sanger"
	qualThreshold     = "20"
	lenThreshold      = "20"
	noFivePrime	  = "No"
	truncateN         = "No"
	gzipOut           = "Yes"

	//trimmomatic filter parameters

	ILLUMINACLIP      = "$baseDir/illuminaAdapters/NexteraPE-PE.fa"
	seedMismatches = "2"
	palindromeClipThreshold   = "3"
	simpleClipThreshold    = "10"
	minAdapterLength     = "2"
	keepBothReads      = "TRUE"
	slidingWindowSize  = "4"
	slidingWindowQual  = "15"
	maxInfo            = "No"
	maxInfoTargetLength   = "40"
	maxInfoStrictness  = "0.8"
	leadingQual        = "20"
	trailingQual       = "20"
	cropLength         = 0
	headCropLength     = 0
	minLen             = 36
	toPhred33          = "No"
	toPhred64          = "No"
	
}
